@media screen and (max-width: 480px) {

  table .self-responsive thead {
    display: none;
  }

  table .self-responsive tr {
    width: 100%;
  }

  table .self-responsive td {
    display: block;
    text-align: right;
  }

  table .self-responsive td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
    background: #e9727e;
    color: #fff;
  }
}
